* {
@import url("https://fonts.cdnfonts.com/css/trebuchet-ms-2");
    font-family: "Trebuchet MS", sans-serif;
    scroll-behavior: smooth;
}

/* Top Div */
.top__div {
    display: flex;
    flex-direction: column;
    /*pointer-events: none;*/
    /*border: 1px solid #000;*/
}
