* {
  @import url("https://fonts.cdnfonts.com/css/trebuchet-ms-2");
  font-family: "Trebuchet MS", sans-serif;
  scroll-behavior: smooth;
}

html, body {
  padding:0;
  margin:0;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Hero */
.hero__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: url("../img/agenda-1.jpg") no-repeat fixed;
  height: 82vh;
}

.hero__container img {
  width: 50%;
  border-radius: 10px;
  animation: fadeIn 1s;
}

.hero__head {
  margin: 15rem 0 0 1rem;
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  animation: fadeIn 1s;
}

.hero__wrapper p {
  font-size: 1.2rem;
  padding: 4rem 1rem;
  margin-top: 2rem;
  text-align: justify;
  animation: fadeIn 1.5s;
  color: #fff;
}

/* Breadcrumb */
.breadcrumb__wrapper {
  display: flex;
  justify-content: space-between;
  width: 12rem;
  margin: 2rem 0 1rem 3rem;
  animation: fadeIn 2s;
}

.bread__link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.bread__link:hover {
  text-decoration: none;
  color: #1964b7;
}

.active {
  color: #447BBF;
}

/* Agenda */
.agenda_container {
  display: flex;
  margin: 2rem 0;
}

.agenda_container img {
  width: 40%;
  border-radius: 10px;
  animation: fadeIn 2.5s;
}

.agenda__head {
  font-size: 1.8rem;
  color: #1964b7;
  animation: fadeIn 3s;
}

.agenda__wrapper {
  padding: 2rem;
}

.agenda__wrapper p {
  margin-top: 3rem;
  animation: fadeIn 3.5s;
  text-align: justify;
}

#agenda-planet,
#agenda-peace {
  flex-direction: row-reverse;
}

/* SDG */
.sdg__container {
  display: flex;
  flex-direction: column;
}

.sdg__head {
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
  color: #1964b7;
}

.sdg__container p {
  font-size: 1.2rem;
  text-align: justify;
  margin: 0 1rem;
}

#sdg-wellbeing-head {
  margin-left: 5rem;
}

#sdg-education-head {
  margin-left: 13rem;
}

#sdg-gender-head {
  margin-left: 11rem;
}

#sdg-water-head {
  margin-left: 8rem;
}

#sdg-energy-head {
  margin-left: 5rem;
}

#sdg-economic-head {
  margin-left: 1rem;
}

#sdg-infrastructure-head {
  margin-left: 1rem;
}

#sdg-inequalities-head {
  margin-left: 10rem;
}

#sdg-communities-head {
  margin-left: 1rem;
}

#sdg-consumption-head {
  margin-left: 1rem;
}

#sdg-climate-head {
  margin-left: 13rem;
}

#sdg-life-below-head {
  margin-left: 13rem;
}

#sdg-life-land-head {
  margin-left: 14rem;
}

#sdg-peace-head {
  margin-left: 2rem;
}

#sdg-partnerships-head {
  margin-left: 6rem;
}

.sdg__wrapper {
  margin: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sdg__card {
  display: flex;
  width: 100%;
  height: 400px;
  align-items: center;
}

#sdg-poverty {
  background: rgba(204, 51, 51, 1);
}

#sdg-hunger {
  background: #cc9933;
}

#sdg-wellbeing {
  background: #339933;
}

#sdg-education {
  background: #cc0033;
}

#sdg-gender {
  background: #ff3333;
}

#sdg-water {
  background: #33cccc;
}

#sdg-energy {
  background: #fcc30b;
}

#sdg-economic {
  background: #990033;
}

#sdg-infrastructure {
  background: #ff6633;
}

#sdg-inequalities {
  background: #cc0066;
}

#sdg-communities {
  background: #ff9933;
}

#sdg-consumption {
  background: #cc9933;
}

#sdg-climate {
  background: #336633;
}

#sdg-life-below {
  background: #0099cc;
}

#sdg-life-land {
  background: #66cc33;
}

#sdg-peace {
  background: #006699;
}

#sdg-partnerships {
  background: #003366;
}

.sdg__card img {
  width: 500px;
  height: 300px;
}

#filter-poverty {
  background: rgba(204, 51, 51, 0.4);
}

.sdg__card p {
  display: flex;
  /*position: absolute;*/
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin-left: 18rem;
  font-weight: 700;
  z-index: 2;
}

.sdg__card:hover .sdg__details {
  cursor: pointer;
  display: flex;
}

.sdg__details {
  position: absolute;
  color: #fff;
  width: 48.5%;
  height: 400px;
  /*background:rgba(204, 51, 51, 1) ;*/
  font-size: 1rem;
  display: none;
  text-align: center;
  z-index: 20;
  /*transition: all 1s ease-in;*/
  margin: auto;
}

.sdg__details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sdg__details a {
  text-decoration: none;
  color: #fff;
  position: absolute;
  font-size: 1.5rem;
  text-align: justify;
  align-self: center;
  margin: 0 0 0 10px;
  width: 98%;
}

#sdg-poverty-details p {
  /*padding-top: 3rem;*/
}

#sdg-poverty-details {
  /*background: url("../img/sdg/poverty.jpg") no-repeat content-box;*/
}

/* Responsive */
@media screen and (max-width: 960px) {
  .hero__head {
    font-size: 2rem;
  }

  #partnership-img {
    align-self: center;
  }

  .agenda_container img {
    height: 10rem;
  }




  .sdg__wrapper {
    grid-template-columns: 1fr;
    justify-content: center;
    margin-left: 4rem;
  }

  .sdg__card {
    font-size: 0.3rem;
    width: 40rem;
    flex-direction: column;
    height: 35rem;
    padding-top: 1rem;
  }

  .sdg__card p {
    font-size: 1.8rem;
    margin-left: 0;
    padding-left: 0;
  }

  .sdg__container a {
    font-size: 1.2rem;
  }

  #sdg-wellbeing-head , #sdg-education-head, #sdg-gender-head, #sdg-water-head, #sdg-energy-head, #sdg-inequalities-head,
  #sdg-climate-head, #sdg-life-below-head, #sdg-life-land-head, #sdg-partnerships-head
  {
    margin-left: 0;
  }

  #sdg-inequalities-details a, #sdg-life-land-details a, #sdg-life-below-details a{
    font-size: 1rem;
  }

  .sdg__details {
    position: relative;
    display: flex;
    color: #1964b7;
    height: 100%;
  }

  .sdg__details p {
    font-size: 1.2rem;
  }

  .sdg__details img {
    display: none;
  }

  .footer__link__container {
    margin-left: 5rem;
    margin-right: -3rem;
  }

  .footer__newsletter__submit button {
    padding-bottom: .1rem;
  }

  .footer__link__card {
    width: 6rem;
  }

  .footer__info {
    margin-right: 7rem;
  }

  .footer__newsletter__submit button {
    margin-top: 1rem;
  }

}

@media screen and (max-width: 480px) {
  .hero__head {
    font-size: 1rem;
  }

  .hero__wrapper p {
    font-size: .7rem;
  }

  .agenda_container {
    flex-direction: column;
  }

  #agenda-planet,
  #agenda-peace {
    flex-direction: column;
  }

  .agenda_container img {
    height: 15rem;
    width: 80%;
    align-self: center;
  }

  .agenda__head {
    font-size: 1.3rem;
    margin: 0;
    text-align: center;
  }

  .agenda__wrapper p {
    font-size: .7rem;
    margin-top: .5rem;
  }

  .sdg__head {
    font-size: 1.3rem;
  }

  .sdg__container a {
    font-size: 1rem;
  }

  .sdg__wrapper {
    margin-left: 1rem;
  }

  .sdg__card {
    width: 25rem;
    margin-left: 0;
  }

  #sdg-inequalities-details a, #sdg-communities-details a, #sdg-life-below-details a,#sdg-life-land-details a {
    font-size: 1rem;
  }

  .footer__info {
    margin-right: 0;
    margin-left: 4rem;
  }

  .footer__newsletter__submit button {
    padding-bottom: .2rem;
  }
}

