* {
@import url("https://fonts.cdnfonts.com/css/trebuchet-ms-2");
    font-family: "Trebuchet MS", sans-serif;
    scroll-behavior: smooth;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        width: 0;
    }
    100% {
        width: 27.2%;
    }
}