* {
  @import url("https://fonts.cdnfonts.com/css/trebuchet-ms-2");
  font-family: "Trebuchet MS", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Hero */
.hero__container {
  display: flex;
  flex-direction: row;
  margin: 0 0 1rem 0;
  height: 83vh;
  text-align: center;
  background: url("../img/country-1.jpg") no-repeat fixed;
}

.hero__container h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 5rem;
  animation: fadeIn 2s;
  color: #4176bc;
  width: 100%;
  align-self: center;
  font-weight: 800;
  text-transform: uppercase;
}

/* Breadcrumb */
.breadcrumb__wrapper {
  display: flex;
  justify-content: space-between;
  width: 13rem;
  margin: 1rem 0 1rem 3rem;
  animation: fadeIn 2s;
}

.breadcrumb__wrapper a {
  text-decoration: none;
}

.bread__link {
  color: #000;
  font-weight: 600;
}

.bread__link:hover {
  text-decoration: none;
  color: #1964b7;
}

.active {
  color: #447bbf;
}

/* Info */
.info__wrapper {
  font-size: 1.25rem;
  margin: 1rem 2rem;
  animation: fadeIn 3s;
}

/* Responsive */
@media screen and (max-width: 960px) {
  .footer__link__container {
    margin-left: 5rem;
    margin-right: -3rem;
  }

  .footer__newsletter__submit button {
    padding-bottom: 0.1rem;
  }

  .footer__link__card {
    width: 6rem;
  }

  .footer__info {
    margin-right: 7rem;
  }

  .footer__newsletter__submit button {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .footer__info {
    margin-right: 0;
    margin-left: 4rem;
  }

  .footer__newsletter__submit button {
    padding-bottom: 0.2rem;
  }
}
