* {
@import url("https://fonts.cdnfonts.com/css/trebuchet-ms-2");
    font-family: "Trebuchet MS", sans-serif;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Focus container */
.focus__container {
    display: flex;
    flex-direction: column;
    margin:0;
}

.focus__head {
    font-size: 2rem;
    color: #1964b7;
    text-align: center;
    margin: 2rem 0;
    animation: fadeIn 1s;
}

.focus__wrapper__top{
    display: flex;
    margin: 0;
    height: 100vh;
    justify-content: space-around;
    background: url("../img/entrepreneur-1.jpg") no-repeat fixed;
    background-size: cover;
}

.focus__info__top__head {
    font-size: 3rem;
    color: #1964b7;
    animation: fadeIn 1s;
    text-align: center;
    margin-top: 3rem;
}

.focus__info__div__top  p{
    padding: 3rem 0 0 0;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    /*color: #1964b7;*/
    width: 100%;
    animation: fadeIn 1.5s;
}


.focus__wrapper {
    display: flex;
    margin: 2rem 0;
    justify-content: space-around;
}

.focus__wrapper img {
    width: 40%;
    border-radius: 1rem;
    object-fit: cover;
    animation: fadeIn 1.5s;
}

.focus__wrapper img:hover {
    cursor: pointer;
}


.focus__info__div {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;
    width: 90%;
}

.focus__info__head {
    font-size: 2rem;
    color: #1964b7;
    animation: fadeIn 2s;
    text-align: center;
}

.focus__info__div p {
    padding: 3rem 0 0 0;
    font-size: 1rem;
    text-align: center;
    /*color: #1964b7;*/
    width: 90%;
    animation: fadeIn 2.5s;
    margin: 0 .5rem;
}

#education, #society, #cross-cutting {
    display: flex;
    flex-direction: row-reverse;
}

        /*#well-being p {*/
        /*    font-size: .8rem;*/
        /*}*/