* {
  @import url("https://fonts.cdnfonts.com/css/trebuchet-ms-2");
  font-family: "Trebuchet MS", sans-serif;
}

.tag.visible {
  opacity: 1;
}



/* Top Div */
.top__div {
  display: flex;
  flex-direction: column;
  /*pointer-events: none;*/
  /*border: 1px solid #000;*/
}

.hero__video {
  height: 85vh;
  width: 100%;
  object-fit: cover;
}

.hero__div {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 0;
  color: #fff;
  width: 100%;
  margin-top: 3rem;
}

.hero__top {
  font-size: 128px;
  text-align: center;
  margin-top: 100px;
  animation: fadeIn 1s;
}

.hero__desc {
  /*text-align: center;*/
  margin: 50px 0 0 30px;
  font-size: 32px;
  animation: fadeIn 1.5s;
}

.read__more {
  margin: 50px 0 0 30px;
  background: #0351b1;
  width: 150px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  /*border-radius: 6px;*/
  animation: fadeIn 2s;
}

.read__more a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.read__more:hover {
  background: rgba(3, 81, 177, 0.5);
  transition: 0.2s ease-in;
  cursor: pointer;
}

/* Featured */
.feature__div {
  /*border: 1px solid #000;*/
  display: flex;
  height: 200px;
  margin: 20px;
}

.feature__div__1 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  width: 40%;
  padding: 100px 0 0 0;
}

.featured__div__2 {
  background: rgba(217, 217, 217, 0.2);
  width: 60%;
  padding-left: 50px;
}

.featured__top {
  height: 30%;
  padding-top: 20px;
  font-weight: 600;
}

.featured__mid {
  padding-bottom: 30px;
}

.featured__bottom a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.featured__bottom a i {
  margin-left: 5px;
}

.featured__bottom:hover .featured__bottom a i {
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}

/* carousel */
.sdg__carousel__wrapper {
  /*border: 1px solid #000;*/
  height: 100%;
  text-align: center;
  font-size: 32px;
  margin-top: 100px;
  margin-bottom: 80px;
  padding-left: 15rem;
  width: 90%;
}

.card {
  position: absolute;
  width: 60%;
  height: 400px;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 100%;
  max-height: 400px;
  height: 400px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.container input {
  display: none;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 60%;
  height: 100%;
  /*border-radius: 10px;*/
  object-fit: fill;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

img {
  box-shadow: 0 0 5px 0 rgba(81, 81, 81, 0.47);
}

/* Stories */
.stories__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  margin-bottom: 50px;
  /*border: 1px solid #000;*/
}

.story__card {
  background: rgba(217, 217, 217, 0.2);
  height: 450px;
  width: 85%;
  padding-left: 50px;
  margin-bottom: 10px;
}

.story__head {
  margin-top: 40px;
  height: 10%;
  font-size: 24px;
}

.story__head__2 {
  height: 10%;
  padding-top: 30px;
  /* border: 1px solid #000; */
}

.story__desc {
  text-align: justify;
  padding-right: 30px;
  padding-top: 20px;
  /* border: 1px solid #000; */
}

.story__read {
  margin-top: 50px;
}

.story__read a {
  text-decoration: none;
  color: #000;
}

/* .story__read a i {
    color: #0351B1;
} */

/* Vision & Mission */
.vm__wrapper {
  /*border: 1px solid #000;*/
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #0351b1;
  color: #fff;
  padding: 0 80px 10px 50px;
  margin-bottom: 20px;
}

.vision__container {
  padding: 30px 0 0 50px;
  flex-direction: column;
  height: 100%;
}

.mission__container {
  padding: 30px 0 0 50px;
  flex-direction: column;
  height: 100%;
}

.vision__head {
  font-size: 32px;
  margin-bottom: 20px;
}

.vision__desc {
  font-size: 24px;
  margin-bottom: 50px;
}

.mission__head {
  font-size: 32px;
  margin-bottom: 20px;
  margin-left: 80vw;
}

.mission__desc {
  font-size: 24px;
  margin-bottom: 50px;
}

/* Focus */
.focus__wrapper {
  height: 100%;
  margin-bottom: 30px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*border: 1px solid #000;*/
}

.focus__wrap__1 {
  font-size: 32px;
  padding: 200px 0 0 30px;
  font-weight: 800;
  border-right: 5px solid #000;
}

.focus__wrap__2 {
  border-right: 5px solid #000;
  display: flex;
  flex-direction: column;
  padding: 300px 0 30px;
}

.wrap__2__empty {
  display: flex;
  align-self: center;
  height: 300px;
  align-items: center;
  width: 100%;
}

.wrap__2__empty img {
  width: 100%;
  margin: 1rem;
}


.wrap__head {
  font-size: 24px;
  margin-left: 15px;
}

.wrap__desc {
  font-size: 16px;
  margin: 0 15px;
  text-align: justify;
  padding-top: 15px;
}

.wrap__read {
  margin: 20px 0 0 15px;
}

.wrap__read a {
  text-decoration: none;
  color: #000;
}

/* Partnerships */
.partnership__wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  padding-left: 50px;
  /*border: 1px solid #000;*/
}

.partnership__head {
  height: 50px;
  padding: 20px 0;
  font-size: 32px;
  font-weight: 800;
}

.partnership__desc {
  height: 100px;
  font-weight: 500;
}

.partnership__join {
  margin-bottom: 50px;
  padding-top: 15px;
  background: #0351b1;
  font-size: 20px;
  text-align: center;
  width: 150px;
  height: 40px;
  color: #fff;
}

.partnership__join a {
  color: #fff;
  text-decoration: none;
}

/* Projects */
.projects__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  /*border: 1px solid #000;*/
}

.projects__head {
  font-size: 32px;
  font-weight: 800;
  padding: 20px 0 0 50px;
}

.project__filter__wrapper {
  height: 700px;
  margin: 20px 0;
  width: 100%;
  /* border: 1px solid #0351b1; */
  /*border: 1px solid #000;*/
}

.project__filters {
  display: flex;
  flex-direction: column;
  padding: 50px 0 0 0;
  width: 90%;
  /* border: 1px solid #002060; */
}

.project__dropdown {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.drop__head {
  font-size: 20px;
  font-weight: 600;
  margin: 15px 10px 0 20px;
}

.drop__item {
  padding-top: 20px;
  height: 30px;
  text-align: center;
}

.drop__item:hover {
  cursor: pointer;
  /*background: rgba(1, 26, 69, 0.3);*/
}

.dropdown {
  display: flex;
  min-width: 15rem;
  position: relative;
  margin: 0 0 0 10px;
  border-radius: 10px;
  height: 100px;
}

/* Drop1 */

.custom-select {
  height: 50px;
}

details {
  position: relative;
  width: 200px;
  margin-right: 1rem;
}

details[open] {
  z-index: 1;
}

summary {
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #0351b1;
  list-style: none;
  height: 20px;
  width: 100%;
  font-size: 0.5rem;
  z-index: 1;
  position: relative;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary:before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

summary:after {
  content: "";
  display: inline-block;
  float: right;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(45deg) translate(50%, 0%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms;
}

summary:focus {
  outline: none;
}

details[open] summary:after {
  transform: rotate(-45deg) translate(0%, 0%);
}

.list {
  width: 100%;
  list-style: none;
  background: #fff;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}

.list__li {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.list__li:first-child {
  padding-top: 0;
}

.list__li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
  counter-reset: radios;
}

input[type="radio"] {
  counter-increment: radios;
  appearance: none;
  display: none;
}

input[type="radio"]:checked {
  display: inline;
  --display: block;
}

input[type="radio"]:after {
  content: attr(title);
  display: inline;
  font-size: 1rem;
}

ul.list {
  counter-reset: labels;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}

label {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

label span {
  --display: none;
  display: var(--display);
  width: 1rem;
  height: 1rem;
  border: 1px solid #727272;
  border-radius: 3px;
}

.project__info__wrapper {
  display: flex;
  flex-direction: column;
  /*border: 1px solid #000;*/
}

.project__info__card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 0 10px 30px;
  margin-bottom: 50px;
}

.project__card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 98%;
  border-radius: 2px;
  margin-top: 20px;
  /*border: 1px solid black;*/
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

.project__card img {
  align-self: center;
  width: 450px;
  height: 300px;
  margin-top: 30px;
}

.project__card img:hover {
  cursor: pointer;
  width: 500px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.project__card__head {
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0 10px 30px;
}

.project__card__info {
  padding: 10px 0 30px 30px;
}

/*  Pagination  */
.pagination__wrapper {
  display: flex;
  /*justify-content: space-evenly;*/
  height: 100%;
  margin: 10px 0;
  justify-content: center;
  /*border: 1px solid #000;*/
}

.pagination__container {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.page {
  list-style-type: none;
}
.items-list {
  max-width: 90vw;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3rem;
  justify-content: center;
  align-content: center;
}
@media only screen and (max-width: 600px) {
  .items-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
.item span {
  background: #0351b1;
  box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
  border-radius: 0.6rem;
  padding: 2rem;
  font-size: 3rem;
  transition: all 0.3s ease;
}
.item:hover span {
  transform: scale(1.2);
  color: #fff;
}
.item p {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #ffffff;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin: 3rem;
  padding-right: 2rem;
  border-radius: 0.6rem;
  background: #0351b1;
  box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
}
.page__numbers,
.page__btn,
.page__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.page__dots {
  width: 2.6rem;
  height: 2.6rem;
  cursor: initial;
}
.page__numbers {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 0.4rem;
}
.page__numbers:hover {
  color: #1964b7;
}
.page__numbers.active {
  color: #0351b1;
  background: #ffffff;
  font-weight: 600;
  border: 1px solid #fff;
}
.page__btn {
  color: #fff;
  pointer-events: none;
}
.page__btn.active {
  color: #0351b1;
  background: #fff;
  pointer-events: initial;
}
.page__btn.active:hover {
  color: #1964b7;
  background: #fff;
}

/* Responsive */
@media screen and (max-width: 960px) {

  .top__div video {
    width: 100%;
  }

  .hero__top {
    font-size: 3.5rem;
  }

  .sdg__carousel__wrapper {
    margin-bottom: 20px;
    height: 300px;
  }

  .container input {
    display: none;
    margin-bottom: 0;
  }

  .card {
    height: 100px;
  }

  .cards {
    margin-bottom: 0;
  }

  .stories__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .vm__wrapper {
    width: 89%;
    padding-left: 0;
  }

  .vision__desc,
  .mission__desc {
    text-align: justify;
    padding-right: 40px;
  }

  .mission__head {
    margin-left: 550px;
  }

  .project__filters {
    padding-left: 0;
    display: flex;
    flex-direction: row;
  }

  .project__info__card__wrapper {
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
  }

  .project__card img {
    width: 300px;
    height: 200px;
  }

  .project__card img:hover {
    width: 300px;
  }

  .project__filters,
  .project__dropdown {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #002060; */
    width: fit-content;
  }

  .project__dropdown {
    justify-content: center;
    /* border: 1px solid #000; */
    padding-left: 15rem;
    width: 20rem;
    /* border: 1px solid #002060; */
  }

  .pagination__wrapper {
  }

  .pagination__card {
    width: 50px;
    height: 50px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .top__div video {
    width: 100%;
  }

  .hero__top {
    font-size: 24px;
  }

  .hero__desc {
    font-size: 16px;
  }

  .read__more {
    width: 100px;
    height: 30px;
    padding-top: 10px;
  }

  .read__more a {
    font-size: 14px;
  }

  .feature__div {
    height: 100%;
  }

  .feature__div__1 {
    font-size: 20px;
  }

  .featured__div__2 {
    height: 100%;
    padding-bottom: 20px;
  }

  .featured__mid {
    font-size: 12px;
    padding-top: 10px;
  }

  .sdg__carousel__wrapper {
    margin-bottom: 20px;
    height: 200px;
  }

  .container input {
    display: none;
    margin-bottom: 0;
  }

  .card {
    height: 100px;
  }

  .cards {
    margin-bottom: 0;
  }

  .stories__wrapper {
    grid-template-columns: 1fr;
  }

  .story__card {
    height: 100%;
    background: #fff;
  }

  .story__head {
    font-size: 20px;
  }

  .story__head__2 {
    font-size: 16px;
  }

  .story__desc {
    font-size: 14px;
  }

  .vm__wrapper {
    width: 80%;
  }

  .mission__head,
  .vision__head {
    font-size: 20px;
  }

  .vision__desc,
  .mission__desc {
    font-size: 16px;
  }

  .mission__head {
    margin-left: 10px;
  }

  .focus__wrapper {
    grid-template-columns: 1fr;
  }

  .focus__wrap__1,
  .focus__wrap__2 {
    border-right: none;
  }

  .wrap__head {
    font-size: 20px;
  }

  .wrap__desc {
    font-size: 16px;
  }

  .partnership__head {
    font-size: 24px;
    height: 100%;
  }

  .partnership__desc {
    height: 100%;
    width: 90%;
    text-align: justify;
    font-size: 16px;
    padding-bottom: 20px;
  }

  .partnership__join {
    width: 80px;
    height: 30px;
    padding-top: 2px;
  }

  .partnership__join a {
    font-size: 14px;
  }

  .projects__head {
    font-size: 24px;
  }

  .project__filters {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid #000;
    padding-right: 10rem;
    width: 200px;
  }

  .project__dropdown {
    /* padding-right: 30rem; */
    width: 100px;
    border: 1px solid #0351b1;
  }

  .project__info__card__wrapper {
    grid-template-columns: 1fr;
    margin-right: 20px;
    margin-left: 0;
  }

  .project__card__info {
    text-align: justify;
    padding: 0 10px;
  }

  .project__card {
  }

  .pagination__wrapper {
    width: 100%;
    margin-left: 0;
    padding-right: 200px;
    padding-left: 0;
  }

  .pagination__container {
    width: 80%;
  }

  .item {
    width: 5rem;
    height: 5rem;
  }

  .page {
    height: 2rem;
    width: 98%;
  }

  .page__numbers,
  .page__btn,
  .page__dots {
    font-size: 0.5rem;
    width: 1rem;
  }
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Transitions */
