* {
  @import url("https://fonts.cdnfonts.com/css/trebuchet-ms-2");
  font-family: "Trebuchet MS", sans-serif;
  scroll-behavior: smooth;
}

/* Top Div */
.top__div {
  display: flex;
  flex-direction: column;
  /*pointer-events: none;*/
  /*border: 1px solid #000;*/
}

.hero__video {
  height: 85vh;
  width: 100%;
  object-fit: cover;
}

.hero__div {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 0;
  color: #fff;
  width: 100%;
  margin-top: 3rem;
}

.hero__top {
  font-size: 128px;
  text-align: center;
  margin-top: 100px;
  animation: fadeIn 1s;
}

.hero__desc {
  /*text-align: center;*/
  margin: 50px 0 0 30px;
  font-size: 32px;
  animation: fadeIn 1.5s;
}

.read__more {
  margin: 50px 0 0 30px;
  background: #0351b1;
  width: 150px;
  height: 50px;
  text-align: center;
  padding-top: 8px;
  /*border-radius: 6px;*/
  animation: fadeIn 2s;
}

.read__more a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.read__more:hover {
  background: rgba(3, 81, 177, 0.5);
  transition: 0.2s ease-in;
  cursor: pointer;
}

/* Featured */
.feature__div {
  /*border: 1px solid #000;*/
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px;
}

.featured__top__1 {
  display: flex;
  height: 100%;
  margin-bottom: 1rem;
}

.feature__div__1 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  width: 40%;
  padding: 100px 0 0 0;
}

.featured__div__2 {
  background: rgba(217, 217, 217, 0.2);
  width: 60%;
  padding-left: 50px;
}

.featured__top {
  height: 30%;
  padding-top: 20px;
  font-weight: 600;
}

.featured__mid {
  padding-bottom: 30px;
}

.featured__bottom a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.featured__bottom a i {
  margin-left: 5px;
}

.featured__bottom:hover .featured__bottom a i {
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}

.featured__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem 0;
}

.featured__card {
  background: rgba(217, 217, 217, 0.2);
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.featured__card__top {
  height: 30%;
  padding-top: 1rem;
  font-weight: 700;
}

.featured__card__mid {
  margin-bottom: 1rem;
}

.featured__card__bottom {
  margin-bottom: 1rem;
}

.featured__card__bottom a {
  color: #000;
}

.featured__card__bottom a:hover {
  text-decoration: none;
}

/* carousel */
.carousel__item {
  align-items: center;
  margin: 2rem 0;
}

.carousel__item img {
  height: 700px;
  width: 100%;
}

/* Stories */
.news__title {
  margin-left: 3.5rem;
  margin-bottom: 1rem;
}

.stories__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  margin-bottom: 50px;
  margin-left: 4rem;
  /*border: 1px solid #000;*/
}

.story__card {
  background: rgba(217, 217, 217, 0.2);
  height: 480px;
  width: 85%;
  margin-bottom: 10px;
}

.story__card__wrapper {
  padding-left: 50px;
  z-index: 1;
}

.story__head {
  margin-top: 40px;
  height: 10%;
  font-size: 24px;
  margin-left: 30px;
  font-weight: 600;
}

.story__head__2 {
  height: 10%;
  padding-top: 30px;
  margin-left: 30px;
  /* border: 1px solid #000; */
}

.story__desc {
  text-align: justify;
  padding-right: 30px;
  padding-top: 20px;
  margin-left: 30px;
  /* border: 1px solid #000; */
}

.story__read {
  margin-top: 50px;
  margin-left: 1.3rem;
  z-index: 50;
  width: 4.5rem;
  position: absolute;
  border-radius: 0.3rem;
}

.story__read a {
  text-decoration: none;
  color: #1964b7;
  z-index: 50;
  margin-left: 0.6rem;
}

.story__hover {
  height: 480px;
  width: 27.2%;
  margin-bottom: 10px;
  /*margin-top:1.7rem;*/
  /*z-index: 30;*/
  position: absolute;
  display: none;
}

.story__hover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 35;
}

.story__card:hover .story__hover {
  display: flex;
  animation: slideRight 0.5s;
}

.story__card:hover .story__read {
  background: #fff;
}

.gradient__div {
  position: absolute;
  background: #1964b7;
  z-index: 100;
}

.more__wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 3rem 5rem 3rem 0;
}

/* Vision & Mission */
.vm__wrapper {
  /*border: 1px solid #000;*/
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #0351b1;
  color: #fff;
  padding: 0 80px 10px 50px;
  margin-bottom: 20px;
}

.vision__container {
  padding: 30px 0 0 50px;
  flex-direction: column;
  height: 100%;
}

.mission__container {
  padding: 30px 0 0 50px;
  flex-direction: column;
  height: 100%;
}

.vision__head {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.vision__desc {
  font-size: 24px;
  margin-bottom: 50px;
}

.mission__head {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  margin-left: 80vw;
}

.mission__desc {
  font-size: 24px;
  margin-bottom: 50px;
}

/* Focus */
.focus__wrapper {
  height: 100%;
  margin-bottom: 30px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*border: 1px solid #000;*/
}

.focus__wrap__1 {
  font-size: 32px;
  padding: 200px 0 0 30px;
  font-weight: 800;
  border-right: 2px solid #000;
}

.focus__wrap__2 {
  border-right: 2px solid #000;
  display: flex;
  flex-direction: column;
  padding: 300px 0 30px;
}

.wrap__2__empty {
  height: 300px;
  width: 100%;
  display: flex;
  margin-bottom: 3rem;
  box-shadow: none;
}

.focus__img {
  width: 100%;
  box-shadow: none;
  padding: 1rem;
}

.wrap__head {
  font-size: 1.5rem;
  margin-left: 15px;
  font-weight: 700;
}

.wrap__desc {
  font-size: 16px;
  margin: 0 15px;
  text-align: justify;
  padding-top: 15px;
}

.wrap__read {
  margin: 20px 0 0 15px;
}

.wrap__read a {
  text-decoration: none;
  color: #000;
}

/* Partnerships */
.partnership__wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  padding-left: 50px;
  /*border: 1px solid #000;*/
}

.partnership__head {
  height: 50px;
  padding: 20px 0;
  font-size: 32px;
  font-weight: 800;
  margin: 2rem 0;
}

.partnership__desc {
  height: 100%;
  font-weight: 500;
}

.partnership__join {
  margin-bottom: 50px;
  padding-top: 5px;
  background: #0351b1;
  font-size: 20px;
  text-align: center;
  width: 150px;
  height: 40px;
  color: #fff;
}

.partnership__join a {
  color: #fff;
  text-decoration: none;
}

/* Projects */
.projects__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  /*border: 1px solid #000;*/
}

.projects__head {
  font-size: 32px;
  font-weight: 800;
  padding: 20px 0 0 50px;
}

/* Drop 2 */

.filter__wrapper {
  display: none;
}

.bootstrap-select.open > .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}
.bootstrap-select > .dropdown-menu {
  /*display: none;*/
  opacity: 0;
  max-height: 330px !important;
  visibility: hidden;
  overflow: hidden;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.85) translateY(-5px);
  -ms-transform: scale(0.85) translateY(-5px);
  transform: scale(0.85) translateY(-5px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
    opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
}

.box {
  width: 400px;
  height: 120px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}
h2 {
  text-align: center;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}

.selectpicker {
  margin: 1rem 0 0 0;
  align-self: center;
  border: none;
  outline: none;
  border-bottom: 1px solid #1964b7;
  color: #1964b7;
}

.selectpicker option {
  text-align: center;
}

.bootstrap-select > .dropdown-toggle {
  background: #edf2f5;
  border: 0;
  width: 100%;
  display: block;
  padding: 16px 15px;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  color: #000;
}
.dropdown-toggle::after {
  content: "";
  position: absolute;
  border-top: 0.5em solid;
  border-right: 0.5em solid transparent;
  border-bottom: 0;
  border-left: 0.5em solid transparent;
  right: 10px;
  top: 48%;
}
.dropdown-menu {
  box-shadow: 0px 0px 15px rgba(60, 76, 150, 0.1);
  -webkit-box-shadow: 0px 0px 15px rgba(60, 76, 150, 0.1);
  -moz-box-shadow: 0px 0px 15px rgba(60, 76, 150, 0.1);
  position: absolute;
  left: 0;
  background: #fff;
  min-width: 100% !important;
  width: 100% !important;
}
.bootstrap-select .dropdown-menu a {
  display: block;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

/* */

label span {
  --display: none;
  display: var(--display);
  width: 1rem;
  height: 1rem;
  border: 1px solid #1964b7;
  border-radius: 3px;
}

.project__info__wrapper {
  display: flex;
  flex-direction: column;
  /*border: 1px solid #000;*/
  overflow: hidden;
}

.project__info__card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 0 10px 30px;
  margin-bottom: 50px;
}

.project__card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 98%;
  border-radius: 2px;
  margin-top: 20px;
  /*border: 1px solid black;*/
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

.project__card img {
  align-self: center;
  width: 100%;
  height: 300px;
}

/*.project__card img:hover {*/
/*  cursor: pointer;*/
/*  width: 500px;*/
/*  object-fit: cover;*/
/*  transition: all 0.3s ease-in-out;*/
/*}*/

.project__card__head {
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0 10px 30px;
}

.project__card__info {
  padding: 10px 0 30px 30px;
}

/*  Pagination  */
.pagination__wrapper {
  display: flex;
  /*justify-content: space-evenly;*/
  height: 100%;
  margin: 10px 0;
  justify-content: center;
  /*border: 1px solid #000;*/
}

.pagination__container {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.page {
  list-style-type: none;
}
.items-list {
  max-width: 90vw;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3rem;
  justify-content: center;
  align-content: center;
}
@media only screen and (max-width: 600px) {
  .items-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
.item span {
  background: #0351b1;
  box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
  border-radius: 0.6rem;
  padding: 2rem;
  font-size: 3rem;
  transition: all 0.3s ease;
}
.item:hover span {
  transform: scale(1.2);
  color: #fff;
}
.item p {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #ffffff;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin: 3rem;
  padding-right: 2rem;
  border-radius: 0.6rem;
  background: #0351b1;
  box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
}
.page__numbers,
.page__btn,
.page__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.page__dots {
  width: 2.6rem;
  height: 2.6rem;
  cursor: initial;
}
.page__numbers {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 0.4rem;
}
.page__numbers:hover {
  color: #1964b7;
}
.page__numbers.active {
  color: #0351b1;
  background: #ffffff;
  font-weight: 600;
  border: 1px solid #fff;
}
.page__btn {
  color: #fff;
  pointer-events: none;
}
.page__btn.active {
  color: #0351b1;
  background: #fff;
  pointer-events: initial;
}
.page__btn.active:hover {
  color: #1964b7;
  background: #fff;
}

/* Responsive */
@media screen and (max-width: 960px) {
  .top__div video {
    width: 100%;
  }

  .hero__top {
    font-size: 3.5rem;
  }
  .featured__card {
    padding-top: 1rem;
    margin-bottom: 3rem;
  }

  .sdg__carousel__wrapper {
    margin-bottom: 20px;
    height: 300px;
  }

  .container input {
    display: none;
    margin-bottom: 0;
  }

  .card {
    height: 100px;
  }

  .cards {
    margin-bottom: 0;
  }

  .stories__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .story__card {
    height: 100%;
    margin-bottom: 6rem;
  }

  .story__hover {
    position: relative;
    display: flex;
    width: 100%;
    height: 200px;
    animation: none;
  }

  .story__card:hover .story__hover {
    animation: none;
  }

  .story__read {
    position: relative;
  }

  .vm__wrapper {
    width: 100%;
    padding-left: 0;
  }

  .vision__desc,
  .mission__desc {
    text-align: justify;
    padding-right: 40px;
  }

  .mission__head {
    margin-left: 550px;
  }

  .focus__img {
    height: 10rem;
  }

  .partnership__join {
    margin-top: 2rem;
  }

  .project__filters {
    padding-left: 0;
    display: flex;
    flex-direction: row;
  }

  .filter__wrapper {
    display: flex;
    flex-direction: column;
    height: 30rem;
  }

  .project__info__card__wrapper {
    grid-template-columns: 1fr 1fr;
    margin-left: 0;
    margin-right: 1rem;
  }

  .project__card img {
    width: 100%;
    height: 200px;
  }

  .project__card__head {
    margin-right: 1rem;
    font-size: 1.2rem;
  }

  .project__card__info {
    margin-right: 2rem;
    width: 80%;
  }

  .project__card img:hover {
    width: 300px;
  }

  .project__filters,
  .project__dropdown {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #002060; */
    width: fit-content;
  }

  .project__dropdown {
    justify-content: center;
    /* border: 1px solid #000; */
    padding-left: 15rem;
    width: 20rem;
    /* border: 1px solid #002060; */
  }

  .pagination__card {
    width: 50px;
    height: 50px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .top__div video {
    width: 100%;
  }

  .hero__top {
    font-size: 24px;
  }

  .hero__desc {
    font-size: 16px;
  }

  .read__more {
    width: 100px;
    height: 30px;
    padding-top: 2px;
  }

  .read__more a {
    font-size: 14px;
  }

  .feature__div {
    height: 100%;
  }

  .feature__div__1 {
    font-size: 20px;
  }

  .featured__div__2 {
    height: 100%;
    padding-bottom: 20px;
  }

  .featured__mid {
    font-size: 12px;
    padding-top: 10px;
  }

  .featured__wrapper {
    grid-template-columns: 1fr;
  }

  .sdg__carousel__wrapper {
    margin-bottom: 20px;
    height: 200px;
  }

  .carousel__item img {
    height: 400px;
  }

  .container input {
    display: none;
    margin-bottom: 0;
  }

  .card {
    height: 100px;
  }

  .cards {
    margin-bottom: 0;
  }

  .stories__wrapper {
    grid-template-columns: 1fr;
  }

  .story__card {
    height: 100%;
    background: #fff;
  }

  .story__head {
    font-size: 20px;
  }

  .story__head__2 {
    font-size: 16px;
  }

  .story__desc {
    font-size: 14px;
  }

  .vm__wrapper {
    width: 100%;
    padding-left: 3rem;
    margin-bottom: 0;
  }

  .mission__head,
  .vision__head {
    font-size: 20px;
  }

  .vision__desc,
  .mission__desc {
    font-size: 16px;
  }

  .mission__head {
    margin-left: 10px;
  }

  .focus__wrapper {
    grid-template-columns: 1fr;
  }

  .focus__wrap__1,
  .focus__wrap__2 {
    border-right: none;
  }

  .focus__wrap__1 {
    font-size: 1.5rem;
  }

  .wrap__head {
    font-size: 1.2rem;
  }

  .wrap__desc {
    font-size: 1rem;
  }

  .partnership__head {
    font-size: 24px;
    height: 100%;
  }

  .partnership__desc {
    height: 100%;
    width: 90%;
    text-align: justify;
    font-size: 16px;
    padding-bottom: 20px;
  }

  .partnership__join {
    width: 80px;
    height: 30px;
    padding-top: 0;
    padding-bottom: 1rem;
  }

  .partnership__join a {
    font-size: 14px;
  }

  .projects__head {
    font-size: 24px;
  }

  .selectpicker {
    width: 200px;
  }

  .project__filters {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid #000;
    padding-right: 10rem;
    width: 200px;
  }

  .project__dropdown {
    /* padding-right: 30rem; */
    width: 100px;
    border: 1px solid #0351b1;
  }

  .box h2 {
    font-size: 1.2rem;
  }

  .project__info__card__wrapper {
    grid-template-columns: 1fr;
    margin-right: 20px;
    margin-left: 0;
  }

  .project__card__head {
    font-size: 1rem;
  }

  .project__card__info {
    text-align: justify;
    padding: 0 2rem;
    font-size: 0.5rem;
  }

  .project__card {
  }

  .pagination__wrapper {
    width: 100%;
    margin-left: 0;
    /*padding-right: 200px;*/
    padding-left: 0;
  }

  .pagination__container {
    width: 300px;
  }

  .item {
    width: 5rem;
    height: 5rem;
  }

  .page {
    height: 2rem;
    width: 98%;
  }

  .page__numbers,
  .page__btn,
  .page__dots {
    font-size: 0.5rem;
    width: 1rem;
  }
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    width: 0;
  }
  100% {
    width: 27.2%;
  }
}

/* Transitions */
