* {
@import url("https://fonts.cdnfonts.com/css/trebuchet-ms-2");
    font-family: "Trebuchet MS", sans-serif;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Initiative */
.initiative__container {
    display: flex;
    flex-direction: column;
}

.carousel__container {
    display: flex;
    width: 100%;
    justify-content: center;
    animation: fadeIn 1s;
    overflow: hidden;
}

.carousel__item img {
    /*height: 700px;*/
    /*width: 100%;*/
    object-fit: cover;
    width: 99vw;
    height: 85vh;
}


.initiative__info__container {
    margin: 2rem;
    text-align: justify;
    display: flex;
    font-size: 1.2rem;
    animation: fadeIn 1.5s;
    overflow: hidden;
}

/* Responsive */
@media screen and (max-width: 480px) {
    .carousel__item img {
        height: 50vh;
    }

    .initiative__info__container {
        font-size: 1rem;
    }
}