* {
@import url("https://fonts.cdnfonts.com/css/trebuchet-ms-2");
    font-family: "Trebuchet MS", sans-serif;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Initiatives */
.initiative__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.initiative__head {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    color: #1964b7;
    animation: fadeIn 1s;
}

/* Conference */

.conference__container {
    display: flex;
    flex-direction: column;
}

.conference__title {
    font-size: 1.5rem;
    margin-left: 3rem;
    animation: fadeIn 1.5s;
}

.conference__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 3rem 0 3rem 3rem;
    animation: fadeIn 2s;
}

.conference__card {
    width: 90%;
}

.conference__card img {
    width: 100%;
}

.conference__card__title {
    position: absolute;
    display: none;
    font-size: 1.5rem;
    color: #fff;
    margin: 6rem 0 0 5rem;
    z-index: 30;
}

.conference__card:hover .conference__card__title {
    display: flex;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

/* International Initiatives */
.international__initiatives__container {
    display: flex;
    flex-direction: column;
}

.initiative__title {
    font-size: 1.5rem;
    margin-left: 3rem;
    animation: fadeIn 2.5s;
}

.international__initiatives__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 3rem 0 3rem 3rem;
    animation: fadeIn 3s;
}

.international__initiatives__card {
    width: 90%;
}

.international__initiatives__card img {
    width: 100%;
}

.international__initiatives__title {
    position: absolute;
    display: none;
    font-size: 1.5rem;
    color: #fff;
    margin: 6rem 0 0 5rem;
    z-index: 30;
}

.international__initiatives__card:hover .international__initiatives__title {
    display: flex;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

/* Responsive */
@media screen and (max-width: 960px) {
    .conference__card__title, .international__initiatives__title {
        margin-top: 0;
    }

    .conference__card a, .international__initiatives__card a {
        font-size: 1rem;
        margin-top: 0;
        margin-left: 0;
        display: flex;
        position: relative;
        color: #1964b7;
    }
}

@media screen and (max-width: 480px) {
    .conference__wrapper ,.international__initiatives__wrapper {
        grid-template-columns: 1fr 1fr;
        margin-right: 2rem;
    }
}
