* {
  @import url("https://fonts.cdnfonts.com/css/trebuchet-ms-2");
  font-family: "Trebuchet MS", sans-serif;
  scroll-behavior: smooth;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    width: 0;
  }
  100% {
    width: 27.2%;
  }
}

/* Hero */

.hero__div {
  display: flex;
  overflow-x: hidden;
}

.hero__head {
  display: none;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  color: #4176bc;
  animation: fadeIn 1s;
}

.hero__info__container {
  display: flex;
  flex-direction: row;
  margin: 0 0 1rem 0;
  height: 82vh;
  text-align: center;
  background: url("../img/leadership.jpg") no-repeat fixed;
}

/*.hero__info__container img {*/
/*    width: 50%;*/
/*    animation: fadeIn 1.5s;*/
/*}*/

.hero__info__container p {
  /*background: rgba(25, 100, 183, .2);*/
  text-align: center;
  font-size: 4rem;
  padding-bottom: 5rem;
  animation: fadeIn 2s;
  color: #447bbf;
  width: 100%;
  align-self: center;
  font-weight: 800;
  text-transform: uppercase;
}

/* Breadcrumb */
.breadcrumb__wrapper {
  display: flex;
  justify-content: space-between;
  width: 10rem;
  margin: 2rem 0 1rem 3rem;
  animation: fadeIn 2s;
}

.bread__link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}

.bread__link:hover {
  text-decoration: none;
  color: #4176bc;
}

.active {
  color: #447bbf;
}

/* Leadership */
.leadership__container {
  display: flex;
  margin-right: 2rem;
}

.leadership__container img {
  margin-left: 3rem;
  height: 30rem;
}

.leadership__head {
  margin: 2rem 0 1rem 3rem;
  font-size: 1.5rem;
  color: #4176bc;
  font-weight: 800;
}

.leadership__head__1 {
  margin: 0 0 1rem 3rem;
  color: #4176bc;
  font-size: 1.25rem;
  font-weight: 800;
}

.leadership__info {
  margin: 1rem 2rem 2rem 3rem;
  font-size: 1.25rem;
  text-align: justify;
}

/* Responsive */
@media screen and (max-width: 960px) {
  .leadership__container {
    flex-direction: column;
    margin-right: 0;
  }

  .leadership__container img {
    width: 40rem;
  }

  .leadership__info {
    margin-right: 2rem;
    text-align: justify;
  }
}

@media screen and (max-width: 480px) {
  .hero__info__container p {
    margin-left: -0.5rem;
  }

  .leadership__container img {
    width: 20rem;
    height: 20rem;
    margin-left: 2rem;
    overflow-x: hidden;
  }

  .leadership__head {
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .leadership__head__1 {
    font-size: 1.2rem;
    margin-left: 1rem;
  }

  .leadership__info {
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow-x: hidden;
  }
}
