* {
@import url("https://fonts.cdnfonts.com/css/trebuchet-ms-2");
    font-family: "Trebuchet MS", sans-serif;
    scroll-behavior: smooth;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Hero */
.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: url("../img/movement.jpg") no-repeat fixed;
}

.hero__head {
   font-size: 8rem;
    margin: 10rem 0;
    font-weight: 700;
    color: #fff;
    animation: fadeIn 1s;
}

.hero__container p {
    font-size: 1.8rem;
    margin: 0 3rem;
    text-align: justify;
    color: #fff;
    animation: fadeIn 1.5s;
}

/* Breadcrumb */
.breadcrumb__wrapper {
    display: flex;
    justify-content: space-between;
    width: 11rem;
    margin: 1rem 0 1rem 3rem;
}

.bread__link {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.bread__link:hover {
    text-decoration: none;
    color: #1964b7;
}

.active {
    color: #447BBF;
}

/* Movement */
.movement__container {
    display: flex;
    flex-direction: column;
    height: 400px;
}

.movement__head {
    font-size: 3rem;
    text-align: center;
    margin: 3rem 0;
}

/* Contact */
.contact__container {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 3rem 0;
}

.contact__head {
    text-align: center;
    font-size: 3rem;
    margin: 3rem 0;
}

.contact__form {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-self: center;
    height: 100%;
}

.contact__input {
    outline: none;
    border: none;
    border-bottom: 2px solid #1964b7;
    margin: 1rem 0;
}

.contact__input__message {
    outline: none;
    border: none;
    border-bottom: 2px solid #1964b7;
    margin: 1rem 0;
    height: 10rem;
    resize: none;
}

.contact__submit {
    align-self: center;
    outline: none;
    border: none;
    width: 10rem;
    height: 2rem;
    color: #fff;
    background: #1964b7;
    font-weight: 600;
}

.contact__submit:hover {
    background: #fff;
    color: #1964b7;
    cursor: pointer;
    border: 1px solid #1964b7;
    transition: all .3s ease-in-out;
}

/* Responsive */
@media screen and (max-width: 960px) {
    .hero__head {
        font-size: 3rem;
        margin-bottom: 5rem;
    }

    .hero__container p {
        margin-top: 0;
        font-size: 1.4rem;
    }

    .movement__head, .contact__head {
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .hero__head {
        font-size: 2rem;
    }

    .hero__container p {
        font-size: 1.2rem;
    }

    .contact__form {
        width: 50%;
    }
}






