* {
@import url("https://fonts.cdnfonts.com/css/trebuchet-ms-2");
    font-family: "Trebuchet MS", sans-serif;
    scroll-behavior: smooth;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Hero */
.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 83vh;
    background: url("../img/movement.jpg") no-repeat fixed;
}

.hero__head {
   font-size: 8rem;
    margin: 10rem 0;
    font-weight: 700;
    color: #fff;
    animation: fadeIn 1s;
}

.hero__container p {
    font-size: 1.8rem;
    margin: 0 3rem;
    text-align: justify;
    color: #fff;
    animation: fadeIn 1.5s;
}

/* Breadcrumb */
.breadcrumb__wrapper {
    display: flex;
    justify-content: space-between;
    width: 11rem;
    margin: 1rem 0 1rem 3rem;
    animation: fadeIn 2s;
}

.bread__link {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.bread__link:hover {
    text-decoration: none;
    color: #1964b7;
}

.active {
    color: #447BBF;
}

/* Movement */
.movement__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.movement__head {
    font-size: 3rem;
    text-align: center;
    margin: 3rem 0;
}

.contact__info {
    text-align: center;
    font-size: 2rem;
    /*color: #447BBF;*/
    font-weight: 700;
    margin-top: 2rem;
}

.add__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.add__container img {
    width: 45%;
    height: 25rem;
    margin-right: 10rem;
}

.contact__address {
    text-align: justify;
    margin-top: 7rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.contact__mail {
    color: #1964b7;
    text-align: justify;
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

/*Appointment*/
.app__container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.app__wrapper__1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.app__container img {
    width: 45%;
    height: 25rem;
}

.app__head {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

.app__desc {
    text-align: center;
    color: #1964b7;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 8rem;
}

.app__wrapper {
    display: flex;
    flex-direction: column;
}

.app__book {
    margin-top: 1rem;
    background: #1964b7;
    width: 6rem;
    height: 2rem;
    padding-top: .8rem;
    border-radius: .3rem;
}

.app__wrapper a {
    text-decoration: none;
    text-align: center;
    margin: 2rem 0 0 .8rem;
    color: #fff;
    font-weight: 600;
}

/* Contact */
.contact__container {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 3rem 0;
}

.contact__head {
    text-align: center;
    font-size: 2.5rem;
    margin: 3rem 0;
    font-weight: 700;
}

.contact__form {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-self: center;
    height: 100%;
}

.contact__input {
    outline: none;
    border: none;
    border-bottom: 2px solid #1964b7;
    margin: 1rem 0;
    font-weight: 600;
    color: #1964b7;
}

.contact__input::-webkit-input-placeholder {
    color: #1964b7;
    /*font-weight: 600;*/
}


.contact__input__message {
    outline: none;
    border: none;
    border-bottom: 2px solid #1964b7;
    margin: 1rem 0;
    height: 10rem;
    resize: none;
    font-weight: 600;
    color: #1964b7;
}

.contact__input__message::-webkit-input-placeholder {
    color: #1964b7;
    /*font-weight: 600;*/
}

.contact__submit {
    margin-top: 1rem;
    align-self: center;
    outline: none;
    border: none;
    width: 10rem;
    height: 2rem;
    color: #fff;
    background: #1964b7;
    font-weight: 600;
}

.contact__submit:hover {
    background: #fff;
    color: #1964b7;
    cursor: pointer;
    border: 1px solid #1964b7;
    transition: all .3s ease-in-out;
}




/* Responsive */
@media screen and (max-width: 960px) {
    .hero__head {
        font-size: 3rem;
        margin-bottom: 5rem;
    }

    .hero__container p {
        margin-top: 0;
        font-size: 1.4rem;
    }

    .movement__head, .contact__head {
        font-size: 2rem;
    }

    .add__container {
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .add__container img {
        width: 122%;
    }

    .add__info {
        width: 100%;
        text-align: justify;
        margin-left: 3rem;
    }

    .contact__address {
        margin-top: 4rem;
    }

    .app__wrapper__1 {
        flex-direction: column;
        width: 100%;
    }

    .app__wrapper__1 img {
        width: 100%;
    }

    .app__desc {
        margin-top: 3rem;
    }

    .app__book {
        margin-left: 6rem;
    }

    .contact__form {
        width: 50%;
    }


}

@media screen and (max-width: 480px) {

    .hero__container {
        height: 82vh;
    }

    .hero__head {
        font-size: 2rem;
    }

    .hero__container p {
        font-size: 1.2rem;
    }

    .add__container {
        width: 100%;
    }

    .contact__info {
        font-size: 1.5rem;
    }

    .add__container img {
        width: 150%;
        height: 20rem;
    }

    .contact__address {
        font-size: 1rem;
        width: 100rem;
    }

    .app__head {
        font-size: 1.5rem;
    }

    .app__wrapper__1 img {
        height: 20rem;
    }

    .app__book {
        margin-left: .7rem;
    }

    .app__desc {
        font-size: 1rem;
    }

    .contact__head {
        font-size: 1.5rem;
    }

    .contact__form {
        width: 60%;
    }


}






