* {
@import url("https://fonts.cdnfonts.com/css/trebuchet-ms-2");
    font-family: "Trebuchet MS", sans-serif;
}

.search__container {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 3rem 0;
    align-items: center;
    justify-content: center;
}

.search__container input {
    height: 2rem;
    width: 10rem;
    outline: none;
    border: none;
    border-bottom: 2px solid #1964b7;
    margin-right: 1rem;
}

.search__container input:focus {
    width: 20rem;
    transition: width .5s ease-in-out;
}

.search__container i {
    margin-top: .8rem;
    color: #1964b7;
}

.search__result__container {
    display: flex;
    flex-direction: column;
}

.search__header {
    font-size: 1.4rem;
    margin-left: 3rem;
}

.search__item__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.search__item {
    width: 50%;
    display: flex;
    flex-direction: row;
    height: 8rem;
    border: 1px solid #1964b7;
    align-items: center;
    justify-content: space-evenly;
}

.search__item img {
    width: 10rem;
    height: 6em;
}

.search__item_desc__title {
    font-size: 1.5rem;
}

.search__item p {
    margin-top: .5rem;
}

/* Responsive */
@media screen and (max-width: 960px) {
    .search__item {
        width: 80%;
    }

    .search__item__desc {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .search__item {
        height: 100%;
        flex-direction: column;
        padding-top: 1rem;
    }
    .search__item img {
        width: 12rem;
    }

    .search__item_desc__title {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .search__item p {
        font-size: .6rem;
    }

    .search__header {
        font-size: 1.2rem;
    }
}