* {
  @import url("https://fonts.cdnfonts.com/css/trebuchet-ms-2");
  font-family: "Trebuchet MS", sans-serif;
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Story */
.story__container {
  display: flex;
  flex-direction: column;
}

.story__container img {
  height: 83vh;
  animation: fadeIn 1s;
  object-fit: cover;
}

/* Breadcrumb */
.breadcrumb__wrapper {
  display: flex;
  justify-content: space-between;
  width: 16rem;
  margin: 1rem 0 1rem 3rem;
}

.bread__link {
  color: #000;
  font-weight: 600;
}

.bread__link:hover {
  text-decoration: none;
  color: #1964b7;
}

.active {
  color: #447bbf;
}

.story__head {
  margin: 3rem 0 0 2.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #4176bc;
}

.story__desc {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 2rem;
  text-align: justify;
}

/* Responsive */
@media screen and (max-width: 480px) {
  .story__head {
    font-size: 1rem;
    margin-left: 2rem;
  }

  .story__desc {
    font-size: 0.8rem;
  }

  .get__link {
    padding-right: 3rem;
  }

  .footer__info {
    margin-left: 5rem;
  }
}
